// TIPOGRAFIA
$font-primary: "Roboto", sans-serif;

// ESQUEMA DE CORES
$color-primary: #182C61;
$color-background: #f5f6fa;
$color-button: #44bd32;
$color-button-hover: #4cd137;

// BREAKPOINTS
$bp-mobile: 767px;
$bp-tablet: 1023px;